<html>
<body>
	<body style ="font-family: monospace">

	<h1>Your Gradebook</h1>
	<form action="/search">
		<p><a href = "/search"> SEARCH or ADD everything</a>
	</form>
	<form action="/project_list">	
		<p><label for = "project"> SEARCH by Project </label>
		<input type = "text" name="project" />
		<input type = "submit">
	</form>
	<form action="/student">	
		<p><label for = "project"> SEARCH STUDENTS by Github </label>
		<input type = "text" name="github" />
		<input type = "submit">
	</form>
</style>
</body>
</html>