<html>
	<head> 
		<link rel="stylesheet" type="text/css" href="/static/styles.css"/> 
	</head>
	<body>

		<div id="container">
			<h2>ADD GRADE </h2>


			<form action="/create_grade">
			<p>
				<label for = "github">Enter student github</label>
				<input type = "text" name="github" />
			</p>
			<p>
				<label for = "project"> Enter project </label>
				<input type = "text" name="project" />
			</p>
			<p>
				<label for = "grade">Enter grade student received </label>
				<input type = "text" name="grade" />
			</p>
			<p>
				<input type = "submit">
			</p>
			</form>

			<p><a href = "/">HOME</a> | <a href = "/search">ADD</a></p>
		</div>
	</body>
</html>