<html>
<body>
	<body style ="font-family: monospace">
			<center>


		<form action="/create_project">
		<p>
			<label for = "project">Enter project title</label>
			<input type = "text" name="project" />
		</p>
		<p>
			<label for = "description">Enter description </label>
			<input type = "text" name="description" />
		</p>
		<p>
			<label for = "max_grade">Enter max_grade </label>
			<input type = "text" name="max_grade" />
		</p>
		<p>
			<input type = "submit">
		</p>
		</form>

		<p><a href = "/">HOME</a></p>
	</style>
</center>
</body>
</html>